---
import { Icon } from 'astro-icon';

const links = [
  {
    title: 'Product',
    links: [
      { text: 'Services', href: '/' },
      { text: 'Team', href: '/about' },
      { text: 'Success stories', href: '#' },
      // { text: 'Pricing', href: '#' },
      { text: 'Resources', href: '#' },
    ],
  },
  {
    title: 'Platform',
    links: [
      { text: 'Content Management System', href: '#' },
      { text: 'Partners', href: '#' },
    ],
  },
  {
    title: 'Support',
    links: [
      { text: 'Docs', href: '#' },
      { text: 'Professional Services', href: '#' },
      { text: 'Skills', href: '#' },
      { text: 'Status', href: '#' },
    ],
  },
  {
    title: 'Company',
    links: [
      { text: 'About', href: '/about' },
      { text: 'Blog', href: '/blog' },
    ],
  },
];

const socialLinks = [
  {
    ariaLabel: 'Instagram',
    icon: 'tabler:brand-instagram',
    href: 'https://www.instagram.com/creativebigmedia/?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr',
  },
  {
    ariaLabel: 'Facebook',
    icon: 'tabler:brand-facebook',
    href: 'https://www.facebook.com/people/Creative-Big-Media/61550080272300/?mibextid=LQQJ4d',
  },
  {
    ariaLabel: 'Pinterest',
    icon: 'simple-icons:pinterest',
    href: 'https://co.pinterest.com/creativebigmedia/',
  },
];
---

<footer class='not-prose dark relative my-20'>
  <div class='pointer-events-none absolute inset-0' aria-hidden='true'></div>
  <div class='relative mx-auto max-w-7xl px-4 sm:px-6'>
    <div class='grid grid-cols-12 gap-4 gap-y-8 py-8 sm:gap-8 md:py-12'>
      <div class='col-span-12 lg:col-span-4'>
        <div class='mb-2'>
          <a class='inline-block text-xl font-bold' href='/'
            >Creative Big Media</a
          >
        </div>
      </div>
      {
        links.map(({ title, links }) => (
          <div class='col-span-6 md:col-span-3 lg:col-span-2'>
            <div class='mb-2 font-medium'>{title}</div>
            {links.length && (
              <ul class='text-sm'>
                {links.map(({ text, href }) => (
                  <li class='mb-2'>
                    <a
                      class='text-muted text-slate-500 transition duration-150 ease-in-out hover:text-slate-800'
                      href={href}
                    >
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>
    <div class='py-6 md:flex md:items-center md:justify-between md:py-8'>
      {
        socialLinks.length && (
          <ul class='-ml-2 mb-4 flex items-center justify-center rtl:-mr-2 rtl:ml-0 md:order-1 md:mb-0 md:ml-4 rtl:md:ml-0 rtl:md:mr-4'>
            {socialLinks.map(({ ariaLabel, href, icon }) => (
              <li>
                <a
                  class='mx-1.5 inline-flex items-center rounded-lg p-2.5 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200'
                  aria-label={ariaLabel}
                  href={href}
                >
                  {icon && <Icon name={icon} class='h-6 w-6' />}
                </a>
              </li>
            ))}
          </ul>
        )
      }

      <div class='mr-4 text-sm text-slate-500'>
        <p>
          Copyright © {new Date().getFullYear()} Creative Big Media · All
          rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
